@font-face {
  font-family: 'Suisse';
  src: url('../fonts/SuisseIntl-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Suisse_medium';
  src: url('../fonts/SuisseIntl-Medium.otf') format('opentype');
}

* {
  background: #000;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Suisse' !important;
  font-size: 0.95vw !important;
  line-height: 1.32vw !important; 
  letter-spacing: 0.02vw !important;
}

h1 {
  font-family: 'Suisse_medium' !important;
  font-size: 1.6vw !important;
}

h2 {
  font-family: 'Suisse_medium' !important;
  font-size: 1.15vw !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 1.5vw 2vw 0.5vw 2vw;
}

.main-page a, .nav a {
  color: white;
  text-decoration: none;
}

.nav a.active {
  border-bottom: 0.1vw solid white;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5vw 2vw 3vw;
  background: #000;
  color: #fff;
  box-sizing: border-box;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 20vw;
}


.footer-right { 
  margin-left: auto; 
}

.signup-form {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.signup-form input {
  width: 21.5vw;
  padding: 1vh 1vw;
  border: 1px solid grey;
  color: #fff;
}

.signup-form input { 
  color: grey; 
}

.signup-form button {
  padding: 0.6vw 2vw;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
}

.signup-thanks {
  color: #fff;
  margin-top: 2.2vw;
}

.signup-title {
  margin-bottom: 0.5vw;
}